
body {
  font-family: 'SF Compact Text', Roboto, 'Helvetica Neue', Helvetica, sans-serif;
}

pre {
  overflow: auto;
}

circle:focus {
  outline: none;
}

input:focus,
select:focus {
  outline: none;
  color: #111 !important;
  background-color: var(--blue) !important;
}

button:disabled,
select:disabled {
  border-color: transparent !important;
  opacity: .75 !important;
}

button:focus,
a:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--blue) !important;
}

.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.scroll-x {
  display: block;
  overflow-x: auto;
}

